<nav class="nav-menu d-lg-block">
  <ul>
    <li class="btn"><a>Unete</a></li>

    <li class="drop-down"><a href="">Iniciar Sesion</a>
      <ul>
        <form>
          <input type="text" class="form-control log-input" placeholder="Tu username" value="" />
          <input type="password" class="form-control log-input" placeholder="Tu contraseña" value="" />
          <input type="submit" class="in-submit" value="Iniciar Sesion" />
          <a href="#">¿Olvidaste tu contraseña?</a>
        </form>
      </ul>
    </li>
  </ul>
</nav>
