
  <div>
    <nav>
      <input type="checkbox" id="check">
      <label for="check" class="checkbtn" (click)="toggleMenu()">
        <a class="icon checkBar">&#9776;</a>
      </label>
      <ul *ngIf="loggedIn()" >
        <li  class="derecha" >
          <label  class="logo mr-auto logo-pointer" [routerLink]="['/']"><img src="../../assets/images/logo-milio.jpg"></label>
          <label  class="logo mr-auto logo-pointer" [routerLink]="['/']"> <h1 class="text-dark">Milio</h1></label>
        </li>
        <li id="un_large_section" *appHasRole="['Admin', 'Client']" routerLinkActive="active"><a  name="BuscarCuidadores" [routerLink]="['/carers']" >Buscar Cuidadores</a></li>
        <li id="un_large_section" *appHasRole="['Babysitter']" routerLinkActive="active"><a [routerLink]="['/jobs']">Trabajos</a></li>
        <li id="un_large_section" *appHasRole="['Admin', 'Client', 'Babysitter']" routerLinkActive="active"><a [routerLink]="['/messages']" >Mensajes</a></li>
        <li id="un_large_section">
          <div class="btn-group" dropdown>
            <button dropdownToggle type="button" class="btn dropdown-toggle"
                    aria-controls="dropdown-animated">Bienvenido {{authService.decodedToken?.unique_name | titlecase}} <span class="caret"></span>
            </button>
            <ul id="dropdown-animated" *dropdownMenu class="dropdown-menu"
                role="menu">
                <li *appHasRole="['Client']" routerLinkActive="active"><a [routerLink]="['/client/edit']" class="sesion">Mi Perfil</a></li>
                <li *appHasRole="['Babysitter']" routerLinkActive="active"><a [routerLink]="['/carer/edit']" class="sesion">Mi Perfil</a></li>
                <li role="menuitem"><a class="dropdown-item sesion" (click)="logout()">Cerrar Sesion</a></li>
            </ul>
          </div>
        </li>
        <li>
          <img id="un_large_section" src = "{{photoUrl || '../../../../assets/images/user.jpg" alt="">
        </li>
      </ul>

      <ul *ngIf="!loggedIn()">
        <li  class="derecha" >
          <label  class="logo mr-auto logo-pointer" [routerLink]="['/']"><img src="../../assets/images/logo-milio.jpg"></label>
          <label  class="logo mr-auto logo-pointer" [routerLink]="['/']"> <h1 class="text-dark">Milio</h1></label>
        </li>

        <li id="un_large_section" class="btn" routerLinkActive="active"><a  [routerLink]="['/register']" class="unete">Unete</a></li>
        <li id="un_large_section" routerLinkActive="active"><a [routerLink]="['/login']" >Iniciar Sesion</a></li>
      </ul>

      <div *ngIf="menuBarActive"  id="un_section" class="container">

        <ul *ngIf="loggedIn()" class="list-group">
          <li *appHasRole="['Admin', 'Client']" routerLinkActive="active"><a [routerLink]="['/carers']" class="list-group-item">Buscar Cuidadores</a></li>
          <li *appHasRole="['Babysitter']" routerLinkActive="active"><a [routerLink]="['/jobs']" class="list-group-item">Trabajos</a></li>
          <li *appHasRole="['Admin', 'Client', 'Babysitter']" routerLinkActive="active"><a [routerLink]="['/messages']" class="list-group-item">Mensajes</a></li>
          <li *appHasRole="['Client']" routerLinkActive="active"><a [routerLink]="['/client/edit']" class="list-group-item">Mi Perfil</a></li>
          <li *appHasRole="['Babysitter']" routerLinkActive="active"><a [routerLink]="['/carer/edit']" class="list-group-item">Mi Perfil</a></li>
          <li *appHasRole="['Admin', 'Client', 'Babysitter']"><a class="list-group-item" (click)="logout()">Cerrar Sesion</a></li>
        </ul>

        <ul *ngIf="!loggedIn()">
          <li class="btn" routerLinkActive="active"><a  [routerLink]="['/register']" class="unete">Unete</a></li>
          <li routerLinkActive="active"><a [routerLink]="['/login']" >Iniciar Sesion</a></li>
        </ul>
      </div>

    </nav>
  </div>
