<main class="d-flex align-items-center min-vh-100 py-3 py-md-0">
  <div class="container">
    <div class="card login-card">
      <div class="row no-gutters">
        <div class="col-md-5">
          <img src="../../assets/images/login.jpg" alt="login" class="login-card-img">
        </div>
        <div class="col-md-7">
          <div class="card-body">
            <div class="brand-wrapper">
              <img src="../../assets/images/logo-milio.jpg" alt="logo" class="logo">
            </div>
            <p class="login-card-description">Inicia sesion con tu cuenta</p>
            <form #loginForm="ngForm" (ngSubmit)="login()">
                <div class="form-group">
                  <input id="Input_UserName" type="text" name="UserName" class="form-control log-input" placeholder="Username" required [(ngModel)]="model.userName"/>
                </div>
                <div class="form-group mb-4">
                  <input id="Input_Password" type="password" name="Password" class="form-control log-input" placeholder="***********" required [(ngModel)]="model.password" />
                </div>
                <input id="login_button" type="submit" [disabled]="!loginForm.valid" class="in-submit btn btn-block login-btn mb-4" value="Iniciar Sesion" />
              </form>
              <a href="#!" class="forgot-password-link">Olvidaste la contraseña?</a>
              <p class="login-card-footer-text">No tienes una cuenta? <a href="#!" class="text-reset">Registrate Aqui</a></p>
              <nav class="login-card-footer-nav">
                <a href="#!">Terminos de uso </a>|
                <a href="#!"> Politicas de privacidad</a>
              </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
