<section id="team" class="team section-bg" *ngIf="carerSelected == null">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Resultados de Busqueda</h2>
        </div>
        <form #form="ngForm" (ngSubmit)="loadUsers()" novalidate>
          <div class="form-inline" >
            <div class="form-group ">
              <label for="minAge">Edad de:</label>
              <input type="number" class="form-control ml-1" style="width: 70px" id="minAge" name="minAge"
                [(ngModel)]="userParams.minAge">
            </div>

            <div class="form-group px-2">
              <label for="maxAge">hasta:</label>
              <input type="number" class="form-control ml-1" style="width: 70px" id="maxAge" name="maxAge"
                [(ngModel)]="userParams.maxAge">
            </div>
            <div class="form-group px-2">
              <label for="gender">Genero: </label>
              <select class="form-control ml-1" style="width: 130px" id="gender"
                [(ngModel)]="userParams.gender" name="gender">
                <option *ngFor="let gender of genderList" [value]="gender.value">
                  {{gender.display}}
                </option>
              </select>
            </div>
            <div class="form-group">
              <label for="minFareForHour">Tarifa desde: </label>
              <input type="number" class="form-control ml-1" style="width: 70px" id="minFareForHour" name="minFareForHour"
                [(ngModel)]="userParams.minFareForHour">
            </div>

            <div class="form-group px-2">
              <label for="maxFareForHour">hasta:</label>
              <input type="number" class="form-control ml-1" style="width: 70px" id="maxFareForHour" name="maxFareForHour"
                [(ngModel)]="userParams.maxFareForHour" name="maxFareForHour">
            </div>

            <!-- <div class="btn-group checkbox-inline ">
              <label><strong>Ordenar:</strong></label>
              <label class="btn-check">Actividad
                <input type="radio" checked="checked" name="radio"  [(ngModel)]="userParams.orderBy" btnRadio="lastActive">
              </label>
              <label class="btn-check">Nuevos
                <input type="radio" name="radio" [(ngModel)]="userParams.orderBy" btnRadio="created">
              </label>
              <label class="btn-check">Tarifa
                <input type="radio" name="radio" [(ngModel)]="userParams.orderBy" btnRadio="fare">
              </label>
            </div> -->
            <div class="form-group px-2">
              <label for="gender">Ordenar: </label>
              <select class="form-control ml-1" style="width: 130px" id="orderBy"
                [(ngModel)]="userParams.orderBy" name="orderBy">
                <option *ngFor="let filter of filterList" [value]="filter.value">
                  {{filter.display}}
                </option>
              </select>
            </div>

          </div>

          <button type="submit" name="AplicarFiltros" class="btn btn-apply-filters" style="margin-left:10px">Aplicar Filtros</button>
          <button type="button" class="btn btn-reset-filters" (click)="resetFilters()" style="margin-left:10px">Resetear Filtros</button>
          <br/>

        </form>
        <br/>

        <!-- Inicio del div de los card -->
        <div class="row">
          <div *ngFor="let carer of carers" class="col-lg-3 col-md-6 d-flex align-items-stretch justify-content-center">
              <app-carer-card [carer]="carer" (showContractScreen)="setCarerSelected($event)"></app-carer-card>
          </div>
        </div>
      </div>

      <div class="d-flex justify-content-center">
        <pagination [boundaryLinks]="true"
                    [totalItems]="pagination.totalItems"
                    [itemsPerPage]="pagination.itemsPerPage"
                    [(ngModel)] = "pagination.currentPage"
                    (pageChanged)="pageChanged($event)"
          previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
      </pagination>
      </div>

</section>

<section *ngIf="carerSelected != null">
  <div class="mainContainer">
    <div class="status vcenter"> <i class="fa fa-check" aria-hidden="true"></i>
      Opcion: Efectivo
    </div>
    <h5 class="center">Opciones de pago</h5>
    <div class="options vcenter">

      <div class="opt">
        <div class="icon center">
          <i class="fa fa-money" aria-hidden="true"></i>
        </div>
        <div class="optname center">Efectivo</div>
      </div>

       <div class="opt">
        <div class="icon center">
          <i class="fa fa-credit-card" aria-hidden="true"></i>
        </div>
        <div class="optname center">Tarjeta</div>
      </div>

    </div>

    <div class="payment vcenter">
        <div class="infoheader">Nombre de cuidador: {{carerSelected.name}} </div>
    </div>

    <form class="form" #formPayment="ngForm" (ngSubmit)="setDates()">
      <input name="FechaContrato" class="form-control" placeholder="Fecha de Inicio del contrato" type="text" bsDatepicker [bsConfig]="bsConfig" [(ngModel)]="dateParams.dateStart" [ngModelOptions]="{standalone: true}"/>
      <!-- <input class="form-control" placeholder="Fecha de Inicio del contrato" type="text" bsDatepicker [bsConfig]="bsConfig" [(ngModel)]="dateParams.dateEnd" [ngModelOptions]="{standalone: true}"/> -->
      <input name="HoraInicio" class="form-control" placeholder="Hora de inicio" type="text" [(ngModel)]="dateParams.startHour" [ngModelOptions]="{standalone: true}"/>
      <input name="HoraFinal" class="form-control" placeholder="Hora de fin" type="text" [(ngModel)]="dateParams.endHour" [ngModelOptions]="{standalone: true}"/>
      <button name="EstablecerFecha" class="button-establecer" type="submit">Establecer</button>
    </form>

    <div class="payment vcenter">
      <div class="amount">
        <div class="infoheader vcenter">Monto Total:</div>
        <div class="infocontent val vcenter">s/.{{costInShow}}</div>
      </div>
      <div name="Realizar-Contrato" class="button center" (click)="doContract()" >Contratar</div>

      <div class="button-regresar center" (click)="CarerNoSelected()" >Regresar</div>
    </div>
  </div>
</section>
