<section id="team" class="team section-bg">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Resultados de Busqueda</h2>
        </div>
        <form #form="ngForm" (ngSubmit)="loadUsers()" novalidate>
          <div class="form-inline" >
            <div class="form-group ">
              <label for="minAge">Edad de:</label>
              <input type="number" class="form-control ml-1" style="width: 70px" id="minAge" name="minAge"
                [(ngModel)]="userParams.minAge" name="minAge">
            </div>

            <div class="form-group px-2">
              <label for="maxAge">hasta:</label>
              <input type="number" class="form-control ml-1" style="width: 70px" id="maxAge" name="maxAge"
                [(ngModel)]="userParams.maxAge" name="maxAge">
            </div>
            <div class="form-group px-2">
              <label for="gender">Genero: </label>
              <select class="form-control ml-1" style="width: 130px" id="gender"
                [(ngModel)]="userParams.gender" name="gender">
                <option *ngFor="let gender of genderList" [value]="gender.value">
                  {{gender.display}}
                </option>
              </select>
            </div>
            <div class="form-group">
              <label for="minFareForHour">Tarifa desde: </label>
              <input type="number" class="form-control ml-1" style="width: 70px" id="minFareForHour" name="minFareForHour"
                [(ngModel)]="userParams.minFareForHour" name="minAge">
            </div>

            <div class="form-group px-2">
              <label for="maxFareForHour">hasta:</label>
              <input type="number" class="form-control ml-1" style="width: 70px" id="maxFareForHour" name="maxFareForHour"
                [(ngModel)]="userParams.maxFareForHour" name="maxFareForHour">
            </div>
            <div class="btn-group">
              <label>Ordernar:</label>
              <label class="btn btn-primary" [(ngModel)]="userParams.orderBy" btnRadio="lastActive" role="button"  [ngModelOptions]="{standalone: true}">Actividad</label>
              <label class="btn btn-success" [(ngModel)]="userParams.orderBy" btnRadio="created" role="button"  [ngModelOptions]="{standalone: true}">Nuevos</label>
              <label class="btn btn-warning" [(ngModel)]="userParams.orderBy" btnRadio="fare" role="button"  [ngModelOptions]="{standalone: true}">Tarifa</label>
            </div>
          </div>

          <button type="submit" class="btn btn-primary" style="margin-left:10px">Aplicar Filtros</button>
          <button type="button" class="btn btn-info"
          (click)="resetFilters()" style="margin-left:10px">Resetear Filtros</button>
          <br/>
<!--
          <div class="btn-group"> Ordenar por:
            <label class="btn btn-primary" [(ngModel)]="userParams.orderBy" btnRadio="lastActive" role="button"  [ngModelOptions]="{standalone: true}">Ultima Actividad</label>
            <label class="btn btn-success" [(ngModel)]="userParams.orderBy" btnRadio="created" role="button"  [ngModelOptions]="{standalone: true}">Miembros Nuevos</label>
            <label class="btn btn-warning" [(ngModel)]="userParams.orderBy" btnRadio="fare" role="button"  [ngModelOptions]="{standalone: true}">Ordenar por Tarifa</label>
          </div> -->

        </form>
        <br/>

        <!-- Inicio del div de los card -->
        <div class="row">
          <div *ngFor="let carer of carers" class="col-lg-3 col-md-6 d-flex align-items-stretch">
              <app-carer-card [carer]="carer"></app-carer-card>
          </div>
        </div>
      </div>

</section>
