<section id="team" class="team section-bg">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Resultados de Busqueda</h2>
        </div>
        <form #form="ngForm" (ngSubmit)="loadUsers()" novalidate>
          <div class="form-inline" >
            <div class="form-group ">
              <label for="minAge">Edad de:</label>
              <input type="number" class="form-control ml-1" style="width: 70px" id="minAge" name="minAge"
                [(ngModel)]="userParams.minAge" name="minAge">
            </div>

            <div class="form-group px-2">
              <label for="maxAge">hasta:</label>
              <input type="number" class="form-control ml-1" style="width: 70px" id="maxAge" name="maxAge"
                [(ngModel)]="userParams.maxAge" name="maxAge">
            </div>
            <div class="form-group px-2">
              <label for="gender">Genero: </label>
              <select class="form-control ml-1" style="width: 130px" id="gender"
                [(ngModel)]="userParams.gender" name="gender">
                <option *ngFor="let gender of genderList" [value]="gender.value">
                  {{gender.display}}
                </option>
              </select>
            </div>
            <div class="form-group">
              <label for="minFareForHour">Tarifa desde: </label>
              <input type="number" class="form-control ml-1" style="width: 70px" id="minFareForHour" name="minFareForHour"
                [(ngModel)]="userParams.minFareForHour" name="minAge">
            </div>

            <div class="form-group px-2">
              <label for="maxFareForHour">hasta:</label>
              <input type="number" class="form-control ml-1" style="width: 70px" id="maxFareForHour" name="maxFareForHour"
                [(ngModel)]="userParams.maxFareForHour" name="maxFareForHour">
            </div>

            <!-- <div class="btn-group checkbox-inline ">
              <label><strong>Ordenar:</strong></label>
              <label class="btn-check">Actividad
                <input type="radio" checked="checked" name="radio"  [(ngModel)]="userParams.orderBy" btnRadio="lastActive">
              </label>
              <label class="btn-check">Nuevos
                <input type="radio" name="radio" [(ngModel)]="userParams.orderBy" btnRadio="created">
              </label>
              <label class="btn-check">Tarifa
                <input type="radio" name="radio" [(ngModel)]="userParams.orderBy" btnRadio="fare">
              </label>
            </div> -->
            <div class="form-group px-2">
              <label for="gender">Ordenar: </label>
              <select class="form-control ml-1" style="width: 130px" id="orderBy"
                [(ngModel)]="userParams.orderBy" name="orderBy">
                <option *ngFor="let filter of filterList" [value]="filter.value">
                  {{filter.display}}
                </option>
              </select>
            </div>

          </div>

          <button type="submit" class="btn btn-apply-filters" style="margin-left:10px">Aplicar Filtros</button>
          <button type="button" class="btn btn-reset-filters" (click)="resetFilters()" style="margin-left:10px">Resetear Filtros</button>
          <br/>

        </form>
        <br/>

        <!-- Inicio del div de los card -->
        <div class="row">
          <div *ngFor="let carer of carers" class="col-lg-3 col-md-6 d-flex align-items-stretch justify-content-center">
              <app-carer-card [carer]="carer"></app-carer-card>
          </div>
        </div>
      </div>

      <div class="d-flex justify-content-center">
        <pagination [boundaryLinks]="true"
                    [totalItems]="pagination.totalItems"
                    [itemsPerPage]="pagination.itemsPerPage"
                    [(ngModel)] = "pagination.currentPage"
                    (pageChanged)="pageChanged($event)"
          previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
      </pagination>
      </div>


</section>
