<section id="hero">
    <carousel>
    <div id="heroCarousel" class="carousel slide carousel-fade" data-ride="carousel">

      <div class="carousel-inner" role="listbox">
        <!-- Slide 1 -->
        <slide>
          <div class="carousel-item active" style="background-image: url(../../assets/images/hero-slide1.jpg);">
            <div class="container">
              <div class="carousel-content animated fadeInUp">
                <h2>Bienvenido a <span>Milio</span></h2>
                <p>Busca a un cuidador para tus hijos facilmente!</p>
                <div class="text-center"><a href="" class="btn-get-started">Encuentra a alguien</a></div>
              </div>
            </div>
          </div>
        </slide>
        <!-- Slide 2 -->
        <slide>
          <div class="carousel-item active" style="background-image: url(../../assets/images/hero-slide2.jpg);">
            <div class="container">
              <div class="carousel-content animated fadeInUp">
                <h2>Bienvenido a <span>Milio</span></h2>
                <p>¿Tienes experiencia tratando con niños?</p>
                <div class="text-center"><a href="" class="btn-get-started">Encuentra trabajo</a></div>
              </div>
            </div>
          </div>
        </slide>
      </div>

    </div>
  </carousel>
</section>
