<!-- Toolbar -->


  <div class="container" id = "un_section">
    <h3 class=" text-center">Mensajes</h3>
    <div class="messaging">
      <div class="inbox_msg">

        <div class="inbox_people">
          <div class="headind_srch">
            <div class="channel_heading">
              <h4>Conversaciones</h4>
            </div>
          </div>
          <div class="inbox_chat">
            <div class="channels" *ngFor="let message of messages">
              <div class="chat_list">
                <div class="chat_people">
                  <div class="chat_ib" (click)="loadChat(message.recipientId, message.senderId)">
                    <h5>
                      {{ message.recipientName}}
                    </h5>
                    <div>{{message.content}}</div>

                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>

        <div class="mesgs">
          <div class="msg_history">
            <li class="message" *ngFor="let chat of chatMessages">
                <div
                  *ngIf="
                    chat.senderId != currentUserID;
                    then incoming_msg;
                    else outgoing_msg
                  "
                ></div>
              <ng-template #incoming_msg>
                <div class="incoming_msg">
                  <div class="incoming_msg_img">
                  </div>
                  <div class="received_msg">
                    <div class="received_withd_msg">
                      <p>{{ chat.content }}</p>
                    </div>
                  </div>
                </div>
              </ng-template>
              <ng-template #outgoing_msg>
                <div class="outgoing_msg">
                  <div class="sent_msg">
                    <p>{{ chat.content }}</p>
                  </div>
                </div>
              </ng-template>
            </li>
          </div>
          <div class="type_msg">
            <form class="input_msg_write" (ngSubmit)="sendMessage()">
              <input
                type="text"
                class="write_msg"
                placeholder="Escribe un mensaje..."
                value=""
                name="newMessage"
                [(ngModel)]="newMessage.content"

              />
              <button class="msg_send_btn" type="submit">
                <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>


<!-- ACA ESTA RESPONSIVE -->

  <div class="container" id = "un_section_mobile">
    <h3 class=" text-center">Mensajes</h3>
    <button type="button" class=" btn-chats btn btn-dark" (click)="toggleSeeMessage()">Chats</button>
    <div class="messaging">
      <div class="inbox_msg">

        <div *ngIf="seeMessages" nclass="inbox_people">
          <div class="headind_srch">
            <div class="channel_heading">
              <h4>Conversaciones</h4>
            </div>
          </div>
          <div class="inbox_chat">
            <div class="channels" *ngFor="let message of messages">
              <div class="chat_list">
                <div class="chat_people">
                  <div class="chat_ib" (click)="loadChat(message.recipientId, message.senderId)">
                    <h5 *ngIf="currentUserID!=message.recipientId">
                      {{ message.recipientName }}
                    </h5>
                    <h5 *ngIf="currentUserID!=message.senderId">
                      {{ message.senderName }}
                    </h5>
                    <div>{{message.content}}</div>

                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>

        <div *ngIf="!seeMessages" >
          <div class="msg_history">
            <li class="message" *ngFor="let chat of chatMessages">
                <div
                  *ngIf="
                    chat.senderId != currentUserID;
                    then incoming_msg;
                    else outgoing_msg
                  "
                ></div>
              <ng-template #incoming_msg>
                <div class="incoming_msg">
                  <div class="incoming_msg_img">
                  </div>
                  <div class="received_msg">
                    <div class="received_withd_msg">
                      <p>{{ chat.content }}</p>
                    </div>
                  </div>
                </div>
              </ng-template>
              <ng-template #outgoing_msg>
                <div class="outgoing_msg">
                  <div class="sent_msg">
                    <p>{{ chat.content }}</p>
                  </div>
                </div>
              </ng-template>
            </li>
          </div>
          <div class="type_msg">
            <form class="input_msg_write" (ngSubmit)="sendMessage()">
              <input
                type="text"
                class="write_msg"
                placeholder="Escribe un mensaje..."
                value=""
                name="newMessage"
                [(ngModel)]="newMessage.content"

              />
              <button class="msg_send_btn" type="submit">
                <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
